/* General Styling */
*{
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
a,
.btn{
transition: all 300ms ease;
}

/* Desktop Nav */
nav,.nav-links{
    font-family: 'Syne', sans-serif;
    display: flex;
    
    margin: 0%;
    padding: 0%;
}
nav{
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    background-color: rgba(223, 178, 255, 0.809);
    padding: 10px;
  
   
}

.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.2rem;
    padding-right: 5vh;
}
a{
    color: black;
    text-decoration: none;
    text-decoration-color:white ;
}
a:hover{
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo{
    
    font-size: 2rem;
    padding-left: 5vh;
    font-weight: bold;
    color: rgb(249, 249, 249);
  

}

.logo:hover{
    cursor: default;
}

/* HAMBURGER MENU */
.hamburger-nav{
    display: none;
}
.hamburger-menu{
    position: relative;
    display: inline-block;
    margin-left: 10px;

}
.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    cursor: pointer;
    padding-right: 10vh;
}


.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.3 ease-in-out;

}
.menu-links{
    position: absolute;
    margin-top: 10px;
    top:100%;
    right: 10vh;
    background-color: rgba(223, 178, 255, 0.809);
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
    border-radius: 20px;
   
  
}

.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 0.9rem;
    color: rgb(65, 31, 31);
    text-decoration: none;
    transition: all 0.3 ease-in-out;

}
.menu-links a:hover{
    font-size: 1rem;
    color: white;
}

.menu-links li{
    list-style: none;
}
.menu-links.open{
    max-height: 300px;
}

.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px,5px);
}
.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}
.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px,-5px);
}


.hamburger-icon span:first-child{
    transform: none;
}

.hamburger-icon span:first-child{
    opacity: 1;
}

.hamburger-icon span:first-child{
    transform: none;
}












body{
    background:linear-gradient(45deg,
    #ffb3d5d6, #bae2ffcb , 
    rgba(227, 183, 255, 0.819),
     rgb(255, 154, 154),
     rgba(255, 255, 128, 0.82),
     rgba(255, 197, 90, 0.836));

    background-size: 300% 300%;
    animation: color 16s ease-in-out infinite;
}

@keyframes color {
    0%{
        background-position:  0 50%;
    }
    50%{
        background-position:  100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
    
}

.header{
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 50px;
}

.intro{
    height: 500px;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 30px;
    color: rgb(196, 113, 255);
    box-shadow: #b3c9ffb0 10px 10px 5px;
    background-color: rgb(255, 255, 255);
    text-align: left;
    
}
.photo{
    height:500px;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: #b3c9ffb0 10px 10px 5px;
    background-color: rgb(255, 255, 255);
    
}
.photo>img{
    width: 100%;
    height: 100%;
}

.aboutme{
    width: 90%;
    text-align: justify;
}


.name>span{
 
    font-family: 'Lobster Two', sans-serif;
    background: linear-gradient(45deg,
    #ff86bc, #67c0ff , 
    rgb(227, 183, 255),
     rgb(255, 128, 128),
     rgb(255, 164, 128),
     rgb(255, 184, 54));

     -webkit-background-clip: text;
     color:transparent; 
}
.name{
    font-family: 'Poiret One', sans-serif;
    font-size: 3rem;
}

.intro>.hi{
    font-size: 2rem;
}
.intro p{

    font-family: 'Syne', sans-serif;
    font-size: 1.1rem;
    
}
    

@media screen and  (max-width:1200px) {

    .header{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr ;
        gap: 20px;
        height: 100vh;
        margin: auto;
        padding: 0px;
    
     
}
    .intro{
    width: 95%;
    margin: auto;
    height: auto;
 
}
    .photo{
    width: 70%;
    height: auto;
    margin: auto;
    padding: 50px;
    border-radius: 50%;    

}
.photo>img{
    width: 100%;
    height: 100%;
   
}
.desktop-nav{
    display: none;
}
.hamburger-nav{
    display: flex;
}

}
@media only screen and (max-width: 620px) {
    .name{
        font-family: 'Poiret One', sans-serif;
        font-size: 2rem;
    }
    .intro>.hi{
        font-size: 1.5rem;
    }
    .intro p{
    
        font-family: 'Syne', sans-serif;
        font-size: 0.8rem;
        
    }
    .photo>img{
        width: 100%;
        height: 100%;
       
    }
}


 /* @media only screen and (max-width: 620px) {
    .header{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr ;
        gap: 0px;
        height: auto;
    }
    .intro{
        width: 90%;
    }
    .photo{
        width: 90%;
        height: auto;
    }
    .photo>img{
        width: 100%;
        height: auto;
   
    }
    }

 */
.nightbutton{
    width: 50px;
    height: 30px;
    border-radius: 5px;
    background-color: black;
}

.nightbutton:active{
    body{
        background:linear-gradient(45deg,
        #5f0b31d6, #00538ecb , 
        rgba(57, 13, 85, 0.819),
         rgb(103, 7, 7),
         rgba(99, 99, 11, 0.82),
         rgba(110, 76, 13, 0.836));
    
        background-size: 300% 300%;
        animation: color 16s ease-in-out infinite;
    }
}
#changeButton{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;

}

#changeButtonLight{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    padding: 0;
}

.intro:hover{
    box-shadow: #b1e3feb0 10px 10px 20px;

}
.photo:hover{
    box-shadow: #b1e3feb0 10px 10px 20px;

}